.cke .spell-check-bar {
  clear: both;
  float: right;
}

.cke .spell-check-bar .suggestion {
  cursor: pointer;
  color: red;

  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  background: rgba(250,0,0,0.1);
}

.cke .spell-check-bar .suggestion:hover {
  color: orange;
}